.container {
  min-width: 640px;
}

.navbar-default {
  background: none;
  border: none;
}

.jumbotron {
  background: none;
}

.homepage-row {
  text-align: center;
  margin-top: 39px;
  border-top: 1px solid #eee;
  padding-top: 39px;
}

.homepage-row:last-child {
  padding-bottom: 39px;
  border-bottom: 1px solid #eee;
}

footer {
  text-align: center;
  padding-top: 39px;
  padding-bottom: 39px;
}

.email-message + .email-message {
  margin-top: 10px;
}

.email-message pre {
  background: none;
  border: none;
}

.email-message .panel-default > .panel-heading {
  background: none;
}

.email-message-odd > .panel {
  background: #f6f6f6;
}

.email-message_preview {
  line-height: 40px;
}

.email-message_preview_email-address,
.email-message_preview_content,
.email-message_preview_time {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email-message_preview_time {
  text-align: right;
}

.email-message_preview_content {
  font-weight: normal;
  color: #999;
}

.email-address {
  display: inline-block;
  padding: 4px;
  line-height: 30px;
  white-space: nowrap;
}

.email-address_avatar {
  max-height: 30px;
  vertical-align: middle;
  margin-right: 6px;
}

.email-message_reply-link {
  display: none;
}
